/* For testing */
/* * {
    outline: solid;
    background-color: rgba(0, 0, 0, .1)
} */

html {
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

body {
    width: 100%;
    margin: 0 auto;
}

button {
    font-size: 22px;
    font-family: 'Source Code Pro', monospace;
    padding: 10px;
}

h1 {
    text-align: center;
}

/* Slider style */
#gridSize {
    appearance: none;
    height: 25px;
    width: 300px;
    margin: 10px 0;
    background-color:rgb(0, 96, 160);
    border-radius: 5px;
}

#gridSize::-webkit-slider-thumb {
    height: 25px;
    width: 10px;
    background: rgb(0, 238, 255);
    border-radius: 5px;
    -webkit-appearance: none;
}

/* Grid formatting*/
.gridContainer {
    height: 750px;
    width: 750px;
    line-height: 0%;
    box-sizing: border-box;
    margin: 0 auto;
}

.gridRow {
    border: 1px solid black;
    display: inline-block;
    box-sizing: border-box;
}

/* Grid Options */
.optionsContainer {
    margin: 0 auto;
    width: 350px;
}

/* Container alignment */
.container {
    display: flex;
}